@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(8, 7, 7);
    color: rgb(221, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    width: 100%;
    height: 90px;
    min-width: 320px;
    background-color: darkcyan;
    padding:15px 0;
    color: white;
    
 }

a{
    text-decoration: none;
}
a:hover{
    color: darkblue;
    text-decoration: underline;
}
        
#titulo-header{
    display: inline;
    color: white;
    margin:30px 100px 0px 30px;
           
}
        #titulo-header:hover{
            color:#03ff5b;
        }
        div{
            display: inline-flex;
        }
        
        nav{
            margin: auto;
            margin-left: 0px;
        }
        nav ul{
            list-style: none;
            align-items: center;
            display: inline-flex;
        }
        
        nav ul li .nav{
            color: white;
            font-size:16px;
            font-weight: bold;
            margin-left: 10px;
            margin-right: 10px;
            
        }
        
        .nav:hover, .menunav-paginicial:hover{
            color: #03ff5b;
            text-decoration: underline;
        }
        main{
            width: 100%;
            min-width: 320px;
            max-width: 1000px;
            margin: auto;

        }
        main h1{
            margin: 20px 0px 20px 0px;
        }
        main h2{
            margin: 15px 0px 15px 0px;
        }
        main h3{
            margin:  15px 0px 15px 0px;
        }
        main form p{
            margin: 15px 70px;
        }
        h1, h2, h3,p,ol,ul{
            line-height:30px;
            text-align:justify;

        }
        #titulo-body{
            color: rgb(13, 247, 48);
        }
        #imagem-fundo{
            width:100%;
            min-width: 300px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        #titulo-login{
            text-align: center;
            color: darkcyan;
            margin: 30px;
        }
        #form-login{
            border-radius: 15px;
            border-style:solid;
            border-color: darkcyan;
            outline: 2px 2px;
            width: 500px;
            height: 500px;
            margin: auto;

        }
        #form div{
            display: inline-block;
        }
        
        #criar-conta{
            margin: -8px 0px 0px 0px;
            padding-bottom: 20px;
        }
        #criar-conta a{
            color: darkcyan;
        }
        
        input{
            color: white;
            background-color: black;
            border-radius: 8px;
            border-color: darkgray;
            padding: 10px 10px;
            margin-left: 70px;
        }
        input:hover,:focus{
            background-color: rgba(128, 128, 128, 0.349);
            color: white;
        }
        
       
        #button-login{
            width: 100px;
            height: 40px;
            background-color: #00BBC9;
            font-size: 1em;
            font-weight: bold;
            border-radius: 30px;
            border-color: darkcyan;
            box-shadow: none;
        }
        #button-login a{
            color: white;
        }
        #button-login:hover{
            background-color:#1d6d72 ;
        }
        
        #Botao-Entrar{
            width: 100px;
            padding: 10px 0;
            background-color: darkcyan;
            color: white;
            border-radius: 10px
            ;
            margin: 220px 30px 70px 350px;
        }
        
        
        